* {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
ul,
div,
article,
button {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: var(--aef);
  -webkit-font-smoothing: antialiased;
  margin-bottom: 200px;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  display: flex;
  align-items: center;
  max-width: 1200px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
